* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.parent {
  width: 800px;
  height: 700px;
  margin: auto;
  margin-top: 10px;
  /*make parent grid container*/
  border: 3px solid rgb(56, 56, 56);
  display: grid;
  /*Decide columns & rows*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* -----------------child1---------------------- */

.child1 {
  grid-column: 1/3;
  grid-row: 1/2;
  background: #ffffff;
  display: flex;
}

.child1-content {
  font-size: 12px;
  padding: 30px;
  align-items: left;
}

.child1-img img {
  width: 200px;
  height: 230px;
}

/* -----------------child2---------------------- */
.child2 {
  grid-column: 3/5;
  grid-row: 1/2;
  background: #e0dfdf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



.child2 h1 {
  margin: 15px;
  margin-left: 10px;
}

/* -----------------child3---------------------- */
.child3 {
  grid-column: 1/2;
  grid-row: 2/3;
  background: #ff6b01;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.child3 img {
  width: 200px;
  height: 130px;
  padding: 20px;
}

.child3 h3 {
  color: #ffffff;
  margin-bottom: 5PX;
}

/* -----------------child4---------------------- */
.child4 {
  grid-column: 2/4;
  grid-row: 2/3;
  background: #ffffff;
  display: flex;
  padding: 20px;
  padding-bottom: 0;
  padding-right: 0;
}

.content1 img {
  width: 120px;
  height: 120px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.content1 {
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.content1 p {
  font-size: 10px;
  color: #929292;
}

.content2 {
  padding: 15px;
  margin-left: 0;
}

.content2 p {
  margin-bottom: 20px;
  font-size: 15px;
  color: #929292;
}

/* -----------------child5---------------------- */
.child5 {
  grid-column: 4/5;
  grid-row: 2/4;
  background-color: #bd92fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  gap: 10px;
}

.child5 img {
  width: 120px;
  background: #9c5ff2;
  height: 120px;
  padding: 10px;
  border-radius: 50px;
}

.child5 button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: rgb(255, 176, 40);
  color: #000000;
  font-weight: bold;
  font-size: 10px;
}

.child5 p {
  font-size: 15px;
  padding-bottom: 10px;
}

.child5 h4 {
  padding: 5px;
  background-color: #b17ef9;
  border-radius: 20px;
}

/* -----------------child6---------------------- */
.child6 {
  grid-column: 1/2;
  grid-row: 3/5;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.child6 img {
  width: 180px;
  height: 120px;
}

/* -----------------child7---------------------- */
.child7 {
  grid-column: 2/4;
  grid-row: 3/5;
  background: #8fb7aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.child7 img {
  width: 300px;
  height: 180px;
  margin-top: 5px;
}

.child7 h3 {
  color: #ffffff;
  margin-bottom: 5PX;
  margin-top: 40px;
}

.child7 p {
  font-size: 10px;
  color: #ffffff;
  background: #ff6b01;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5PX;
  position: absolute;
  top: 10px;
  left: 10px;
}