*{
  margin: 0;
  padding: 0; 
}

h1{
  width: 700px;
  text-align: center;
  border: 10px solid rgb(69, 156, 255);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  /* padding: 50px 100px 150px 200px; */
  margin: 50px;
  box-sizing: border-box;
}

div{
  text-align: center;
}