*{
  margin: 0;
  padding: 0; 
}

h4{
  color: white;
  width: 100px;
  height: 20px;
  background-color: blue;
  border-radius: 50px;
  margin: auto;
  padding: 10px;
}
img{
  border-radius: 100px;
  width :150px;
  height: 150px;
  margin-bottom: 30px;
}

body{
  background-color: grey;
}

div{
  text-align: center;
  width: 400px;
  background-color: white;
  padding: 50px ;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
}
